* {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

@media (max-width: 1440px) {
	.body__header {
		width: 1000px;
	}
}

@media (max-width: 1000px) {
	.body__header {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.body__header {
		width: 480px;
	}

	.globo__h1 {
		font-size: 4.5vw;
	}
}

@media (max-width: 480px) {
	.body__header {
		width: 100%;
	}

	.globo__h1 {
		font-size: 6vw;
	}
}

.body__header {
	width: 100%;
	height: auto;
	background: url(/2/2024/Travel/img/Rectangle1.png) 0 0 no-repeat;
	font-family: 'Aleo';
	color: #FFFFFF;
}

.header {}

.header__up {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.up {}

.up__globo {}

.globo {
	display: flex;
}

.globo__img {}

.globo__h1 {
	font-weight: 600;
	font-size: calc(16px + 16 * (100vw / 1440));
	font-family: 'Magra';
	color: #FFFFFF;
}

.up__nav {}

.nav {

	font-family: Red Hat Text;
	font-weight: 500;
	font-size: calc();

}

.nav__list {}

.list {
	display: flex;

}

.list__link {}

.up__button {
	color: #FFFFFF;
	font-family: 'Red Hat Text';
	font-weight: 500;
	background-color: #0D606F;
	border-radius: 10px;
}

.header__bottom {}

.bottom {}

.bottom__h2 {}

.bottom__p {}

.bottom__form {}

.form {}

.form__input {}

.form__button {}

.body__main {}

.main {}

.main__section {}

.section {}

.section__h2 {}

.section__list {}

.list {}

.list__1 {}

.first-part {}

.first-part__one {}

.one {}

.one__p {}

.one__fon {}

.one__bike {}

.list__2 {}

.second-part {}

.second-part__two {}

.two {}

.two__p {}

.two__fon {}

.two__bag {}

.list__3 {}

.third-part {}

.third-part__three {}

.three {}

.three__p {}

.three__fon {}

.three__fly {}

.main__carousel {}

.carousel {}

.carousel__h2 {}

.carousel__fotos {}

.fotos {}

.fotos__roks {}

.fotos__rocks {}

.fotos__usa {}

.main__ellipse {}

.ellipse {}

.ellipse__1 {}

.ellipse__2 {}

.ellipse__3 {}

.main__more {}

.more__find {}

.find {}

.find__img {}

.main__h2 {}

.basement {}

.main__stories {}

.stories {}

.stories__water {}

.water {}

.water__foto {}

.water__info {}

.info {}

.info__h3 {}

.info__text {}

.stories__road {}

.road {}

.road__foto {}

.road__info {}

.stories__mountains {}

.mountains {}

.mountains__foto {}

.mountains__info {}

.stories__car {}

.car {}

.car__foto {}

.car__info {}

.stories__see {}

.see {}

.see__more {}

.more {}

.more__img {}

.basement__down {}

.down {}

.down__h3 {}

.down__mas {}

.mas {}

.mas__telegram {}

.mas__youtube {}

.youtube {}

.youtube__square {}

.youtube__triangle {}

.mas__twitter {}