* {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

@media (max-width: 1440px) {
	.body {
		width: 1000px;
	}


	.header__up {}
}

@media (max-width: 1000px) {
	.body {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.body {
		width: 480px;
	}

	.globo__h1 {
		font-size: 4.5vw;
	}
}

@media (max-width: 480px) {
	.body {
		width: 100%;
	}

	.globo__h1 {
		font-size: 6vw;
	}
}

.body {}

.wrapper {}

.body__header {}

.header {}

.header__up {
	background-color: #F2785CB2;
	width: 100%;
	max-width: 1440px;
	height: 90px;
	box-shadow: 0 4px 4px #0D606F80;
	align-items: center;
}

.up {
	display: flex;
	justify-content: space-around;
}

.up__globo {
	display: flex;
}

.globo {}

.globo__img {
	width: 30px;
	height: 30px;
	margin-left: -14%;
	margin-top: -1px;
}

.globo__h1 {
	color: #FFFFFF;
	font-family: 'Magra', Arial, Helvetica, sans-serif;
	padding-left: 2%;
	margin-top: -2px;
}

.up__nav {
	/*max-width: 527px;
	max-height: 21px;*/
}

.nav {}

.nav__list {
	font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
	display: flex;


}

.list {}

.list__link {


	max-height: 21px;

}

.up__button {
	background-color: #0D606F;
	width: 103px;
	height: 41px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: 'Red Hat Text', Arial, Helvetica, sans-serif;
	box-shadow: 0 2px 3px #0D606F;
	font-size: 1em;
}

.header__fon {}

.fon {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	max-height: 765px;
	position: relative;
	top: -90px;
	left: 0;
	z-index: -1;
}

.fon__img {}

.header__bottom {}

.bottom {}

.bottom__h2 {}

.bottom__p {}

.bottom__form {}

.form {}

.form__input {}

.form__button {}